force-app/main/default/flows/Pixel_After_Insert_or_Update_Populate_Color_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Color_Found</name>
        <label>Color Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Insert_Color</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Color_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Color_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Color_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pixel : After Insert or Update : Populate Color Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pixel : After Insert or Update : Populate Color Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Color</name>
        <label>Insert Color</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Color_Lookup_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ColorValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>$Record.ColorValue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Color__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Color_Record</name>
        <label>Find Color Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Color_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ColorValue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Color__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Color_Lookup</name>
        <label>Update Color Lookup</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Find_Color_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Color_Lookup_2</name>
        <label>Update Color Lookup 2</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Insert_Color</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Color_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ColorValue__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pixel__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
